{% extends 'base.html.twig' %}

{% block title %}Hello NewPartieController!{% endblock %}

{% block body %}


    <h1>Nouvelle partie</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    <button type="submit">Créer la partie</button>
    {{ form_end(form) }}
{% endblock %}
