{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <div id="milieu">
        <h1>Mind Melt</h1>
        <button class="cta" onclick="window.location.href='{{ path('app_login') }}';">
            <span>Commencer</span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
        <button class="cta" onclick="window.open('{{asset('images/Codenames_rulebook_FR-web_2018.pdf')}}', '_blank');">
            <span>Règles</span>
        </button>
    </div>


    </body>


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        body {
            font-family: "Poppins", sans-serif;
            display: flex;
            margin: 0;
            background-color: #1e1e1e;
            color: #fff;
            flex-direction: column;
            height: 100vh;
        }
        h1 {
            font-size: 100px;
            text-align: center;
            margin-bottom: 100px;
        }
        #milieu {
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        .cta {
            position: relative;
            margin: auto;
            padding: 12px 18px;
            transition: all 0.2s ease;
            border: none;
            background: none;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .cta:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 50px;
            background: #fff;
            width: 45px;
            height: 45px;
            transition: all 0.3s ease;
        }

        .cta span {
            position: relative;
            font-family: "Ubuntu", sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #000;
        }

        .cta svg {
            position: relative;
            top: 0;
            margin-left: 10px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #000;
            stroke-width: 2;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }

        .cta:before {
            width: 100%;
            background: #fff;
        }

        .cta:hover svg {
            transform: translateX(0);
        }

        .cta:active {
            transform: scale(0.95);
        }

    </style>
{% endblock %}
