{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}




    <div id="langue">
        <svg viewBox="0 0 3 2" xmlns="http://www.w3.org/2000/svg">
            <rect width="1" height="2" fill="#0055a4"/>
            <rect x="1" width="1" height="2" fill="#fff"/>
            <rect x="2" width="1" height="2" fill="#ef4135"/>
        </svg>



    </div>
    <div id =Title>
        <h1>MIND MELD ONLINE</h1>
    </div>
    <div id="Title2">
        <p>Bienvenue sur votre interface utilisateur pour acceder à vos stats</p>
    </div>

    <div id="BoutonCo">

        <div class="ChoixUt">
            <button>
                <span>Inscription</span>
            </button>

        </div>
        <div class="ChoixUti">
            <button>
                <span>Connexion</span>
            </button>

        </div>

    </div>

    <div class="centreLigne">
        <div class="ligne"></div>
    </div>
    <div id="MAJ">
        <p>Nos dernieres nouveautées</p>
    </div>

    <div id="CarteDesign">



        <div class="card">
            <h3 class="card__title">MàJ 6.28.9
            </h3>
            <p class="card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <div class="card__date">
                April 15, 2022
            </div>
            <div class="card__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                    <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                </svg>
            </div>
        </div>


        <div class="card">
            <h3 class="card__title">MàJ 6.18.9
            </h3>
            <p class="card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <div class="card__date">
                April 15, 2022
            </div>
            <div class="card__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                    <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="card__title">MàJ 6.00.9
            </h3>
            <p class="card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <div class="card__date">
                April 15, 2022
            </div>
            <div class="card__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                    <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="card__title">MàJ 5.98.9
            </h3>
            <p class="card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <div class="card__date">
                April 15, 2022
            </div>
            <div class="card__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                    <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                </svg>
            </div>
        </div>


    </div>


    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Mind<span>Meld</span></h3>

            <p class="footer-links">
                <a href="#" class="link-1">Accueil</a>

                <a href="#">Mentions Légales</a>

                <a href="#">FAQ</a>

                <a href="#">CGE</a>

                <a href="#">Contacter le support</a>
            </p>

            <p class="footer-company-name">Mind Meld © 2023</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>1 rue du Québec</span> IUT TROYES</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>07 07 07 07 07</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">nassim-yanis@sae401.fr</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>A propos de notre jeu</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>
    </body>


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        body{
            background-color: #F2F0EB;
            margin: 0;
            padding: 0;
        }
        #langue{
            margin-top: 20px;
            width:100vw;
            height:20px;
            display:flex;
            justify-content: flex-end;
            margin-left: -30px;

        }
        #Title{
            font-family: Poppins;
            font-size: 39px;
            width:100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15vh;
            color:#133955;
        }
        #Title2{
            font-family: Poppins;
            font-size: 39px;
            width:100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #BoutonCo{
            width:100vw;
            display: flex;
            flex-wrap: wrap;
        }
        .ChoixUt{
            width: 50vw;
            display: flex;
            justify-content: flex-end;
        }
        .ChoixUti{
            width: 50vw;
            display: flex;
            justify-content: flex-start;

        }


        button {
            display: inline-block;
            border-radius: 4px;
            background-color: #133955;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 17px;
            padding: 25px;
            width: 210px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
            margin-right: 50px;
            margin-left: 50px;
        }

        button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        button span:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -15px;
            transition: 0.5s;
        }

        button:hover span {
            padding-right: 15px;
        }

        button:hover span:after {
            opacity: 1;
            right: 0;
        }

        .centreLigne{
            width:100vw;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .ligne{
            width:70vw;
            height: 3px;
            margin-top: 70px;
            background-color: #133955;

        }


        #MAJ{
            display: flex;
            width: 100vw;
            justify-content: center;
            font-family: Poppins;
            font-size: 30px;
        }


        /* this card is inspired form this - https://georgefrancis.dev/ */

        .card {
            --border-radius: 0.75rem;
            --primary-color: #133955;
            --secondary-color: #3c3852;
            width: 210px;
            font-family: "Arial";
            padding: 1rem;
            cursor: pointer;
            border-radius: var(--border-radius);
            background: #f1f1f3;
            border: 3px solid black;
            box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
            position: relative;
        }

        .card > * + * {
            margin-top: 1.1em;
        }

        .card .card__content {
            color: var(--secondary-color);
            font-size: 0.86rem;
        }

        .card .card__title {
            padding: 0;
            font-size: 1.3rem;
            font-weight: bold;
        }

        .card .card__date {
            color: #6e6b80;
            font-size: 0.8rem;
        }

        .card .card__arrow {
            position: absolute;
            background: var(--primary-color);
            padding: 0.4rem;
            border-top-left-radius: var(--border-radius);
            border-bottom-right-radius: 3px;
            bottom: 0;
            right: 0;
            transition: 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card svg {
            transition: 0.2s;
        }

        /* hover */
        .card:hover .card__title {
            color: black;
            text-decoration: underline;
        }





        #CarteDesign{
            width: 100vw;
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;


        }


        .footer-distributed{
            background: #133955;
            opacity: 90%;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;
            padding: 55px 50px;
        }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: inline-block;
            vertical-align: top;
        }

        /* Footer left */

        .footer-distributed .footer-left{
            width: 40%;
        }

        /* The company logo */

        .footer-distributed h3{
            color:  #ffffff;
            font: normal 36px 'Open Sans', cursive;
            margin: 0;
        }

        .footer-distributed h3 span{
            color:  lightseagreen;
        }

        /* Footer links */

        .footer-distributed .footer-links{
            color:  #ffffff;
            margin: 20px 0 12px;
            padding: 0;
        }

        .footer-distributed .footer-links a{
            display:inline-block;
            line-height: 1.8;
            font-weight:400;
            text-decoration: none;
            color:  inherit;
        }

        .footer-distributed .footer-company-name{
            color:  black;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        /* Footer Center */

        .footer-distributed .footer-center{
            width: 35%;
        }

        .footer-distributed .footer-center i{
            background-color:  black;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

        .footer-distributed .footer-center i.fa-envelope{
            font-size: 17px;
            line-height: 38px;
        }

        .footer-distributed .footer-center p{
            display: inline-block;
            color: #ffffff;
            font-weight:400;
            vertical-align: middle;
            margin:0;
        }

        .footer-distributed .footer-center p span{
            display:block;
            font-weight: normal;
            font-size:14px;
            line-height:2;
        }

        .footer-distributed .footer-center p a{
            color:  lightseagreen;
            text-decoration: none;;
        }

        .footer-distributed .footer-links a:before {
            content: "|";
            font-weight:300;
            font-size: 20px;
            left: 0;
            color: #fff;
            display: inline-block;
            padding-right: 5px;
        }

        .footer-distributed .footer-links .link-1:before {
            content: none;
        }

        /* Footer Right */

        .footer-distributed .footer-right{
            width: 20%;
        }

        .footer-distributed .footer-company-about{
            line-height: 20px;
            color:  black;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }

        .footer-distributed .footer-company-about span{
            display: block;
            color:  #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .footer-distributed .footer-icons{
            margin-top: 25px;
        }

        .footer-distributed .footer-icons a{
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color:  #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-right: 3px;
            margin-bottom: 5px;
        }



    </style>
{% endblock %}
